<div class="row m-0 mt-2">
    <div class="col d-flex justify-content-center">
        <div class="d-flex justify-content-evenly align-items-center">
            <button class="btn btn-primary"><span><i class="bi bi-hand-thumbs-up-fill"></i></span><span class="d-none d-md-inline">Like</span></button>
            <button class="btn btn-success"><span><i class="bi bi-chat-dots-fill"></i></span><span class="d-none d-md-inline">Comment</span></button>
            <button class="btn btn-info"><span><i class="bi bi-share-fill"></i></span><span class="d-none d-md-inline">Share</span></button>
        </div>
    </div>
</div>
