img.brand{
    filter: invert();
}
img.profile-pic{
    width: 19.2px;
    border-radius: 10px;
}
img.mobile{
    width: 25px;
    border-radius: 12px;
}
.bi{
    color: white;
    padding: 0 10px;
    font-size: larger;
}
.btn-light>.bi{
    color: black;
}
.dropdown-item{
    cursor: pointer;
}