<nav class="navbar navbar-dark bg-dark height-topbar">
  <a class="navbar-brand" href="#">
    <img src="/assets/images/icons8-network-pastel-glyph-96.png" width="50" height="30"
      class="d-inline-block align-top px-2 brand" alt="" loading="lazy" />
    <span class="d-none d-md-inline">Socialize</span>
  </a>
  <div class="d-flex justify-content-evenly align-items-center">
    <i routerLink="/feed" class="bi d-inline d-md-none bi-rss-fill"></i>
    <i routerLink="/friends" class="bi d-inline d-md-none bi-person-fill"></i>
    <i routerLink="/messages" class="bi d-inline d-md-none bi-chat-square-text-fill"></i>
    <i routerLink="/groups" class="bi d-inline d-md-none bi-diagram-3-fill"></i>
  </div>
  <!-- for web -->
  <div class="dropdown d-none d-md-block">
    <button type="button" class="btn dropdown-toggle btn-light d-flex align-items-center me-2" type="button" id="dropdownMenuButtonWeb" data-bs-toggle="dropdown"
    aria-expanded="false">
      <div class="d-flex align-items-center">
        <i *ngIf="userData==null;else pic" class="bi bi-person-fill"></i>
        <ng-template #pic>
          <img class="profile-pic" [src]="userData.photoURL" alt="profile-pic">
        </ng-template>
        <span class="fw-medium ms-2">{{userFirstName}}</span>
      </div>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonWeb">
      <li><a class="dropdown-item" [routerLink]="'/profile/'+userData.id">My Profile</a></li>
      <li><a class="dropdown-item" (click)="logOut()">Log Out</a></li>
    </ul>
  </div>
  <!-- for mobile -->
  <div class="dropdown d-block d-md-none">
    <button class="btn btn-dark dropdown-toggle d-flex align-items-center me-2" type="button" id="dropdownMenuButtonMobile" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img class="profile-pic mobile me-1" [src]="userData.photoURL" alt="profile-pic">
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonMobile">
      <li><a class="dropdown-item" [routerLink]="'/profile/'+userData.id">My Profile</a></li>
      <li><a class="dropdown-item" (click)="logOut()">Log Out</a></li>
    </ul>
  </div>
</nav>