<div class="row m-0">
    <div class="col">
        <div class="row m-0 ps-2">
            <div class="col">
                <img src="https://api.dicebear.com/7.x/adventurer/svg?seed={{friendData.lastName}}" alt="">
            </div>
            <div class="col-8 ps-2 fs-5 fw-bold align-self-center">
                {{friendData.firstName}} {{friendData.lastName}}
            </div>
            <div class="col-3 d-flex justify-content-evenly align-items-center">
                <button class="btn btn-primary">Message</button>
                <button class="btn btn-danger">Remove</button>
            </div>
        </div>
    </div>
</div>
