<div class="row mx-0 my-3">
    <div class="col vertPad">
        <div class="row m-0 ps-2">
            <div class="col-2 col-md-1">
                <img width="50" src="{{suggestion.photoURL}}" alt="{{suggestion.fullName}}-image">
            </div>
            <div [routerLink]="['/profile',suggestion.id]" class="col-6 col-md-8 ps-2 fs5 fw-bold align-self-center cp">
                {{suggestion.fullName}} 
            </div>
            <div class="col-4 col-md-3 d-flex justify-content-evenly align-items-center">
                <button class="btn btn-primary"><span class="d-md-none"><i class="bi bi-chat-fill"></i></span><span class="d-none d-md-block">Message</span></button>
                <button class="btn btn-danger"><span class="d-md-none"><i class="bi bi-x-circle-fill"></i></span><span class="d-none d-md-block">Remove</span></button>
            </div>
        </div>
    </div>
</div>
