.fs5{
    font-size: larger;
}
.vertPad{
    padding: 0px;
}
@media(max-width:768px) {
    .fs5{
        font-size: small;
    }
    .vertPad{
        padding: 5px 0;
    }
}
img{
    border-radius: 24px;
    width: 50px;
    border: 1px solid gray;
}