<div class="row m-0">
  <div class="col d-flex align-items-center">
    <i class="bi bi-person-circle fs-2"></i>
    <div class=" ms-2 d-flex flex-column align-items-start justify-content-center">
      <p class="m-0">
        <span class="fw-bold">{{postData.name}}</span> has posted a photo.
      </p>
      <p class="m-0 time-ago">{{postData.dateTime | date:'MMM d, y h:mm a'}}</p>
    </div>
  </div>
</div>
<div class="row m-0">
  <div class="col my-2 d-flex justify-content-center align-items-center image-container">
    <img src="{{postData.url}}"/>
  </div>
</div>
