/* You can add global styles to this file, and also import other style files */
.height-topbar {
  height: 10vh;
}
.height-sidebar {
  height: 90vh;
}
.height-body {
  max-height: 90vh;
  overflow-y: auto;
}
.row > div {
  padding: 0;
}
.list-group > .active {
    color: #495057;
    font-weight: 500;
    background-color: #f8f9fa;
    border-color: transparent;
}
.list-group-item{
    background-color: transparent;
    color: #f8f9fa;
}
.list-group-item-action:hover{
    background-color: black;
    color: white;
}