<div class="row m-0 pt-3 ps-3">
    <div class="col-4 col-md-2 text-center">
        <img [src]="userData.photoURL" alt="profile-pic">
    </div>
    <div class="col-8 col-md-10 my-auto">
        <h1>{{userData.fullName}}</h1>
    </div>
</div>
<hr>
<div class="row m-0">
    <div class="col counts">
        <span class="fw-bolder me-1">199</span><span><i class="bi bi-person-fill-check d-inline d-md-none"></i></span><span
            class="d-none d-md-inline"> friends</span>
    </div>
    <div class="col counts">
        <span class="fw-bolder me-1">7</span><span><i class="bi bi-image d-inline d-md-none"></i></span><span class="d-none d-md-inline">
            posts</span>
    </div>
    <div class="col counts">
        <span class="fw-bolder me-1">4</span><span><i class="bi bi-diagram-3-fill d-inline d-md-none"></i></span><span
            class="d-none d-md-inline"> groups</span>
    </div>
    <div class="col counts">
        <span class="fw-bolder me-1">1652</span><span><i class="bi bi-hand-thumbs-up-fill d-inline d-md-none"></i></span><span
            class="d-none d-md-inline"> impressions</span>
    </div>
</div>
<hr>